#container{
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}

img{
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    /* filter: blur(1px); */
    /* -webkit-filter: blur(1px); */
}
/** quote **/

#about_quote{
    display: flex;
    flex-direction: column;
    position:absolute;
    bottom: 8px;
    right: 0px;
    color: white;
    font-size: 10px;
}

#author{
    margin-top: 0;
    margin-bottom: 5px;
}

#quote {
    margin-bottom: 5px;
}

/** clock **/
.clock{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-30%,-50%);
    color: white;
}

.date{
    margin-top:0;
    margin-bottom: 3px;
}

.time{
    margin-top: 0;
    margin-bottom: 5px;
}

/** log in **/
#login-form{
    position:absolute;
    top: 43%;
    left: 52%;
    transform: translate(-43%,-52%);
}

.login-box{
    border-radius: 10px;
    /* border: none; */
    border: 5px solid white;
}

.login-btn{
    background-color: white;
    /* border: none; */
    border-style: outset;
    color: burlywood;
    padding: 3px 5px;
    text-decoration: none;
    margin: 5px 5px;
    cursor: pointer;
    font: bold 12px arial, sans-serif;
    box-shadow: 5px 5px 5px rgb(19, 7, 7);
}

.hidden{
    display:none;
}

#greeting{
    color: paleturquoise;
    position:absolute;
    top: 38%;
    left: 51%;
    transform: translate(-38%,-51%);
    justify-content: center;
    align-items: center;
}

#weather{
    position:absolute;
    color: white;
    left: 10px;
    top: 10px;
}

/** to do list **/
#all-todo{
    position:absolute;
    top: 80%;
    left: 57%;
    transform: translate(-80%,-57%);
}

#todo-list{
    list-style: none;
    
}

.todo-box{
    border-radius: 10px;
    border: 5px solid white;
}

button{
    background-color: transparent;
    border: none;
    font-size: 7px;
}

li{
    color: white;
}